@use "sass:color";
@use "sass:math";

$pri: #163172;
$blk: #1e56a0;
$sec: color.scale($blk, $lightness: 45%);
$bck: color.scale($blk, $lightness: 90%);
//$sec: #d6e4f0;
$wh0: #f6f6f6;
$bl1: #333;
$sha: #aaa;

$full: 1400px;
$min: 400px;
$dev: 800px;
$med: 1200px;
